*{
  margin: 0;
  padding: 0;
  font-family: 'Kalnia', serif;
font-family: 'Roboto Condensed', sans-serif;
}

.header1{
  min-height: 90vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home1.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 260px;
}

.navlinks{
  flex: 1;
  text-align: right;
}

.navlinks ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
}

.navlinks ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00FFF8;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navlinks ul li:hover::after{
  width: 100%;
}

.textbox{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox h1{
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 100px;
}

.textbox p{
  margin: 10px 0 40px;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 150px;
}

.textbox h2{
  font-size: 35px;
  font-weight: bold;
}

.textbox p2{
  margin: 10px 0 40px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.hypebutton{
  width: 200px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 12px 30px;
  margin: 15px 10px;
  font-size: 25px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hypebutton:hover{
  border: 1px solid #01FFF2;
  background: #01FFF2;
  color: #000;
  transition: 0.6s
}

.about{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
}

.about h3{
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bold;
}

.textbox2{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox2 h4{
  font-weight: bold;
  font-size: 150px;
  margin-bottom: 30px;
}

.textbox2 p3{
  font-size: 50px;
  font-weight: bold;
}

.fa-brands{
  color: #fff;
}

.fa-xl{
  color: #000;
}

.textbox3{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox3 h1{
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 70px;
}

.textbox3 P1{
  font-size: 50px;
  font-weight: bold;
}

.hypebutton2{
  width: 350px;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 25px 30px;
  margin: 15px 12px;
  font-size: 50px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hypebutton2:hover{
  border: 1px solid #01FFF2;
  background: #01FFF2;
  color: #000;
  transition: 0.6s
}

.header2{
  min-height: 65vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header3{
  min-height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header4{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home3.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox4{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox4 h1{
  font-size: 150px;
  font-weight: bold;
}

.fashion{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
}

.textbox5{
  width: 90%;
  color: #000;
  position: relative;
  right: 40px;
  left: 40px;
}

.textbox5 h1{
  font-weight: bold;
  font-size: 40px;
}

.header5{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home4.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox6{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox6 h1{
  font-size: 150px;
  font-weight: bold;
}

.vocab{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
}

.textbox7{
  width: 90%;
  color: #000;
  position: relative;
  right: 40px;
  left: 40px;
  top: 40px;
}

.textbox7 h1{
  font-weight: bold;
  font-size: 45px;
}

.container {
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #00EBFF;
    font-size: 26px;
}

.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #00EBFF;
    border: none;
    outline: none;
    color: #000;
    border-radius: 5px;
}

.result {
    position: relative;
}

.result h3 {
    font-size: 40px;
    color: #1f194c;
}

.result .word1 {
    display: flex;
    margin-top: 80px;
    gap: 200px;
}

.result button {
    background-color: transparent;
    color: #000;
    border: none;
    outline: none;
    font-size: 28px;
}

.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 24px;
}

.word-meaning {
    color: #575a7b;
}

.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}

.error {
    margin-top: 80px;
    text-align: center;
}

.about2{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  margin-top: 500px
}

.about2 h3{
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bold;
}

.header6{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home5.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox8{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox8 h1{
  font-size: 300px;
  font-weight: bold;
}

.textbox9{
  width: 90%;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
}

.textbox9 h1{
  font-size: 36px;
  font-weight: bold;
}

.item{
  width: 200px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  padding: 12px 30px;
  margin: 15px 10px;
  font-size: 25px;
  background: transparent;
  position: relative;
  cursor: pointer;
  top: 350px;
  left: 335px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2); 
}

.item:hover{
  border: 1px solid #000;
  background: #01FFF2;
  color: #000;
  transition: 0.6s;
}

.header7{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home7.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox10{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox10 h1{
  font-size: 170px;
  font-weight: bold;
}

.textbox11{
  width: 90%;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox11 p{
  font-size: 50px;
  font-weight: bold;
}

#button-container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 75px;
}

.searchable-button {
    padding: 15px;
    margin: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 25px;
    margin-top: 270px
}

.about5{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  margin-top: 400px;
}

.about5 h3{
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bold;
}

.header8{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home8.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header9{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home9.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox12{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox12 h1{
  font-size: 300px;
  font-weight: bold;
}

.textbox13{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox13 h1{
  font-size: 240px;
  font-weight: bold;
}

.r1 h1{
    color: #FF0000;
    margin-left: 178px;
    font-size: 60px;
}

.r1 h2{
  color: #7E00FF;
}

.r1 ul,
ol {
    margin-left: 30px;
}

.r1 ol {
    list-style-type: decimal;
}

#recipe-container {
    font-size: 23px;
    
}

/* Change button design */
button {
    background-color: #0080FF;
    color: #000;
    padding: 10px 20px;
    font-size: 26px;
    border: none;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    top: 55%;
    left: 31%;
}

button:hover {
    background-color: #00EBFF;
    border-color: #000;
    border-radius: 8px;
    color: #000;
}

#recipe-container2{
  font-size: 23px;
}

.r2 h1{
  color: #A902FF
}

.r2 h2{
  color: #0080FF;
}

.about3{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  margin-top: 600px;
}

.about3 h3{
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bold;
}

.header10{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home6.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox14{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox14 h1{
  font-size: 130px;
  font-weight: bold;
}

.textbox15{
  width: 90%;
  color: #000;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox15 h1{
  font-size: 35px;
}


.bdy{
    margin-top: 35%;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 1000px;
    margin: 20px auto;
}

#search-container {
    text-align: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
}

#search-btn {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 30%
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#load-more-btn {
  margin-top: 1%;
  margin-left: 12%;
}

.image-container {
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container a {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.image-container a:hover {
    background-color: #2980b9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.header11{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home9.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox16{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox16 h1{
  font-size: 200px;
  font-weight: bold;
}

.header12{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home10.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox17{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox17 h1{
  font-size: 300px;
  font-weight: bold;
}

.recipe-container2 {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.recipe-container2 h1,.ingredient-section2 h2,.instructions-section2 h2 {
    color: #e44d26;
    text-align: center;
}

.ingredient-section2, .instructions-section2 {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ingredient-section2 ul,.instructions-section2 ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ingredient-section2 li,.instructions-section2 li {
    margin-bottom: 10px;
}

.header13{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home11.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox18{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox18 h1{
  font-size: 200px;
  font-weight: bold;
}

.recipe-card {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.recipe-title {
    background-color: #e44d26;
    color: #fff;
    padding: 25px;
    margin: 0;
    text-align: center;
}

.ingredient-section3, .instructions-section3 {
    padding: 25px;
}

.ingredient-section3 h2,.instructions-section3 h2 {
    color: #e44d26;
    font-size: 2rem;
    margin-bottom: 10px;
}

.ingredient-section3 u.instructions-section3 ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ingredient-section3 li,.instructions-section3 li {
    margin-bottom: 10px;
}

.header14{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home12.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox19{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox19 h1{
  font-size: 160px;
  font-weight: bold;
}

.nbtn{
  width: 250px;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  padding: 25px 30px;
  margin: 300px 12px;
  font-size: 50px;
  background: transparent;
  position: relative;
  cursor: pointer;
  text-align: center;
  left: 150px;
}

.nbtn:hover{
  border: 1px solid #01FFF2;
  background: #01FFF2;
  color: #000;
  transition: 2s
}

.about4{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  margin-top: 70px;
}

.about4 h3{
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bold;
}

.header15{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home13.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox20{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox20 h1{
  font-size: 250px;
  font-weight: bold;
}

.header16{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home14.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox21{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox21 h1{
  font-size: 250px;
  font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 10px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    top: 1000px;
}

.search-container {
    text-align: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
    margin-right: 10px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 26px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#search-btn:hover {
    background-color: #1c4dd2;
    transition: background-color 0.3s ease-in-out;
}

#button-container {
    text-align: center;
    margin-top: 20px;
}

.navigate-btn {
    margin: 15px;
    padding: 15px;
    font-size: 16px;
    background-color: #0f9d58;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    left: 5px;
    
}

.navigate-btn:hover {
    background-color: #0a804a;
    transition: background-color 0.3s ease-in-out;
}

.header17{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home15.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox22{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox22 h1{
  font-size: 250px;
  font-weight: bold;
}

.header18{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home16.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox23{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox23 h1{
  font-size: 150px;
  font-weight: bold;
}

.header19{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home17.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox24{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox24 h1{
  font-size: 250px;
  font-weight: bold;
}

.a21{
  background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.recipe-container3 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    text-align: left;
}

.recipe-container3 h1.recipe-container3 h2 {
    color: #333;
}

.recipe-container3 u.recipe-container3 ol {
    margin-bottom: 15px;
}

.recipe-container3 li {
    margin-bottom: 5px;
}

.recipe-container3 h1 {
    color: #e44d26;
    border-bottom: 2px solid #e44d26;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.recipe-container3 h2 {
    color: #333;
    margin-top: 20px;
}

.recipe-container3 ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.recipe-container3 ul, .recipe-container3 ol {
    padding-left: 20px;
}

a22{
  font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.recipe-container4 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    text-align: left;
    margin-top: 80px;
}

.recipe-container4 h1{
    color: #E44D26;
    text-align: center;
    font-size: 35px;
}

.ingredient-section4 ul,.ingredient-section4 ol {
   margin-bottom: 15px;
}

.ingredient-section4 {
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
}

.ingredient-section4 li {
    margin-bottom: 5px;
}

.recipe-container4 h2 {
    color: #333;
    margin-top: 15px;
}

.recipe-container4 ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.recipe-container4 ul, .recipe-container4 ol {
    padding-left: 20px;
}

a23{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.recipe-container5 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    text-align: left;
}

.recipe-container5 header h1{
    background-color: #e44d26;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    color: #fff;
    text-align: center;
}

.content {
    padding: 20px;
}

.recipe-container5 h1,.recipe-container5 h2 {
    color: #E44D26;
}

.recipe-container5 ul,.recipe-container5 ol {
    margin-bottom: 15px;
}

.ingredient-section5, .instructions-section5 {
    margin-bottom: 20px;
}

.recipe-container5 li {
    margin-bottom: 5px;
}

.recipe-container5 h2 {
    color: #333;
    margin-top: 15px;
}

.recipe-container5 ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.recipe-container5 ul, .recipe-container5 ol {
    padding-left: 20px;
}

.header20{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home18.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox25{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox25 h1{
  font-size: 250px;
  font-weight: bold;
}

.a24 {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #333;
}

.a24 header {
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.a24 h1 {
    margin: 0;
    font-size: 2em;
}

.a24 .tagline {
    font-size: 1.2em;
}

.a24 .main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a24 .intro {
    color: #555;
}

.a24 .recipe-details {
    display: flex;
    justify-content: space-between;
}

.a24 .ingredient-list,
.a24 .instructions {
    flex: 1;
}

.a24 h2 {
    color: #e74c3c;
}

.a24 ul, .a24 ol {
    padding-left: 20px;
}

.a24 footer {
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.header21{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home19.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox26{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox26 h1{
  font-size: 170px;
  font-weight: bold;
}







@media screen and (max-width: 600px){
.header1{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home1.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 100px;
}

.navlinks{
  flex: 1;
  text-align: right;
}

.navlinks ul li{
  list-style: none;
  display: inline-block;
  padding: 4px 6px;
  position: relative;
}

.navlinks ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.navlinks ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00FFF8;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navlinks ul li:hover::after{
  width: 100%;
}
 .textbox h1{
  font-size: 60px;
  margin-top: 100px;
  font-weight: bold;
}

.textbox p{
  margin: 10px 0 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;  
}

.textbox h2{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.textbox p2{
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

.hypebutton{
  width: 100px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 6px 15px;
  margin: 7px 5px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hypebutton:hover{
  border: 1px solid #01FFF2;
  background: #01FFF2;
  color: #000;
  transition: 0.6s
}

.about{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: 450;
  margin-top: 10px;
  bottom: 0;
}

.about h3{
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 450;
  font-size: 15px;
}

.about p3{
  font-size: 10px;
  font-weight: bold;
}

.textbox2{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox2 h4{
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 50px;
}

.textbox2 p3{
  font-size: 20px;
  font-weight: bold;
}

.fa-brands{
  color: #fff;
}

.fa-xl{
  color: #000;
}

.textbox3{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox3 h1{
  font-size: 60px;
  font-weight: bold;
}

.textbox3 P1{
  font-size: 20px;
  font-weight: bold;
}

.hypebutton2{
  width: 140px;
  height: 25px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 6px 7px;
  margin: 7px 6px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hypebutton2:hover{
  border: 1px solid #01FFF2;
  background: #01FFF2;
  color: #000;
  transition: 0.6s
}

.header2{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header3{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header4{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home3.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox4{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox4 h1{
  font-size: 90px;
  font-weight: bold;
}

.fashion{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
}

.textbox5{
  width: 90%;
  color: #000;
  position: relative;
  right: 40px;
  left: 20px;
}

.textbox5 h1{
  font-weight: bold;
  font-size: 18px;
}

.header5{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home4.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox6{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox6 h1{
  font-size: 60px;
  font-weight: bold;
}

.vocab{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
}

.textbox7{
  width: 90%;
  color: #000;
  position: relative;
  right: 40px;
  left: 20px;
  top: 40px;
}

.textbox7 h1{
  font-weight: bold;
  font-size: 20px;
}

.container {
    background-color: #ffffff;
    width: 85vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 95%;
    left: 50%;
    padding: 25px 25px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    padding: 10px;
    width: 100px;
    border: none;
    outline: none;
    border-bottom: 3px solid #00EBFF;
    font-size: 10px;
}

.search-box button {
    padding: 7px 0;
    width: 80px;
    font-size: 15px;
    background-color: #00EBFF;
    border: none;
    outline: none;
    color: #000;
    border-radius: 5px;
    left: 120px;
    text-align: left
}

.result {
    position: relative;
}

.result h3 {
    font-size: 20px;
    color: #1f194c;
}

.result .word1 {
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.result button {
    background-color: transparent;
    color: #000;
    border: none;
    outline: none;
    font-size: 18px;
}

.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 10px 0;
    font-size: 12px;
}

.word-meaning {
    color: #575a7b;
}

.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 3px solid #ae9cff;
    padding-left: 10px;
    margin-top: 15px;
}

.error {
    margin-top: 40px;
    text-align: center;
}

.about2{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  margin-top: 200px;
  bottom: 0;
}

.about2 h3{
  margin-top: 125px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 15px;
}

.about2 p3{
  font-size: 11px;
  font-weight: bold;
}

.header6{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home5.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox8{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox8 h1{
  font-size: 120px;
  font-weight: bold;
}

.textbox9{
  width: 90%;
  color: #000;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
}

.textbox9 h1{
  font-size: 16px;
  font-weight: bold;
}

.item{
  width: 140px;
  height: 25px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  padding: 6px 7px;
  margin: 7px 6px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  top: 250px;
  left: 100px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2); 
}

.item:hover{
  border: 1px solid #000;
  background: #01FFF2;
  color: #000;
  transition: 0.6s;
}

.header7{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home7.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox10{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox10 h1{
  font-size: 70px;
  font-weight: bold;
}

.textbox11{
  width: 90%;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox11 p{
  font-size: 20px;
  font-weight: bold;
}

.hypebutton3{
  width: 140px;
  height: 25px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  padding: 6px 7px;
  margin: 7px 6px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  top: 200px;
  left: 22px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.hypebutton3:hover{
  border: 1px solid #000;
  background: #01FFF2;
  color: #000;
  transition: 0.7s;
}

.header8{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home8.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header9{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home9.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox12{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox12 h1{
  font-size: 130px;
  font-weight: bold;
}

.textbox13{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox13 h1{
  font-size: 90px;
  font-weight: bold;
}

.r1 h1{
    color: #FF0000;
    margin-left: 10px;
    font-size: 30px;
}

.r1 h2{
  color: #7E00FF;
}

.r1 ul,
ol {
    margin-left: 30px;
}

.r1 ol {
    list-style-type: decimal;
}

#recipe-container {
    font-size: 13px;
    
}

/* Change button design */
button {
    background-color: #0080FF;
    color: #000;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    top: 55%;
    left: 20%;
}

button:hover {
    background-color: #00EBFF;
    border-color: #000;
    border-radius: 8px;
    color: #000;
}

#recipe-container2{
  font-size: 10px;
}

.r2 h1{
  color: #A902FF
}

.r2 h2{
  color: #0080FF;
}

.about3{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  margin-top: 200px;
  bottom: 0;
}

.about3 h3{
  margin-top: 125px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 15px;
}

.about3 p3{
  font-size: 11px;
  font-weight: bold;
}

/*ab party suru*/


.header10{
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/picture/home6.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox14{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox14 h1{
  font-size: 50px;
  font-weight: bold;
}

.textbox15{
  width: 90%;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox15 h1{
  font-size: 15px;
}


.bdy{
    margin-top: 50%;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 900px;
    margin: 20px auto;
}

#search-container {
    text-align: center;
    margin-bottom: 20px;
    top: 29%;
}

#search-input {
    padding: 10px;
    width: 180px;
}

#search-btn {
    padding: 10px 10px;
    cursor: pointer;
    margin-right: 20%
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#load-more-btn {
  height: 35px;
  margin-top: 2%;
  margin-left: 20%;
}

.image-container {
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container a {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.image-container a:hover {
    background-color: #2980b9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
}



